 
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0b1f3a;  
  color: white;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
 
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #cbd5e1;
}

 
.hero {
  height: 450px;
  background: url("https://images.unsplash.com/photo-1617038220319-276d3cfab638")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 60px;
  color: white;
}

.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 16px;
  line-height: 1.6;
}

 
.values {
  padding: 50px;
  text-align: center;
}

.value-boxes {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.box {
  background: #0b1f3a;
  color: white;
  padding: 30px;
  width: 160px;
  border-radius: 8px;
}

 
.impact {
  display: flex;
  align-items: center;
  padding: 50px;
  background: #2d4a8a;
  color: white;
}

.impact-left img {
  width: 320px;
  border-radius: 10px;
}

.impact-right {
  margin-left: 40px;
}

.impact-right h2 {
  margin-bottom: 10px;
}

.impact-right p {
  line-height: 1.6;
}